<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95963291805-op5t14h70aqhu1tiumeq27u96uqrsplr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95963291805-op5t14h70aqhu1tiumeq27u96uqrsplr</string>
	<key>API_KEY</key>
	<string>AIzaSyCdCcoBsWJb5q29S-iznphPDDkVySNQldU</string>
	<key>GCM_SENDER_ID</key>
	<string>95963291805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ascendFyp</string>
	<key>PROJECT_ID</key>
	<string>ascend-app-6e800</string>
	<key>STORAGE_BUCKET</key>
	<string>ascend-app-6e800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95963291805:ios:0d9a6f103a7bd19a7fb474</string>
	<key>DATABASE_URL</key>
	<string>https://ascend-app-6e800-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>